.root {
  width: 300px;
  background-color: white;
  border-width: 2px;
  border-radius: var(--cardBorderRadius);
  border-color:var(--cardBorderColor);
  box-shadow: var(--cardShadow);
  padding: 20px;
}

.title {
  font-family: 'Arial-Black', sans-serif ;
  font-size: 16px;
  color: var(--ambiBlack);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 13px;
  color: var(--battleshipGrey);
  margin-top: 20px;
  margin-bottom: 20px;
}

.responseForm {
  margin-left: 20px;
}

.responseControlTitle {
  font-family: 'Arial-BoldMT', sans-serif ;
  font-size: 13px;
  color: var(--battleshipGrey);
  margin-top: 15px;
}

.responseControls {
  display: flex;
  justify-content: space-between;
  width: 75px;
  margin-top: 10px;
  margin-left: 25px;
}

.acceptButton:hover {
  content:url("../../assets/images/thumbs-up-button-hover.png");
  cursor: pointer;
}

.acceptButtonSubmitted {
  content:url("../../assets/images/thumbs-up-button-submitted.png");
}

.rejectButton:hover {
  content:url("../../assets/images/thumbs-down-button-hover.png");
  cursor: pointer;
}

.rejectButtonSubmitted {
  content:url("../../assets/images/thumbs-down-button-submitted.png");
}

.th {
  text-align: left;
  padding-left: 2px;
}

.name {
  text-align: left;
}

.score {
  text-align: right;
}

table, th, td
{
  border-collapse: separate;
  border-spacing:0px;
  border-width:0;
  background-color:White;
}

th, td {
  padding-left: 2px;
  padding-right: 20px;
}

tr:hover td {
  background-color: #f6f8fa;
  border-color: #f6f8fa;
  cursor: pointer;
}
